<?xml version="1.0"?>
 
<config>
    <modules>
        <BIC_Mediclub>
            <version>0.0.1</version>
        </BIC_Mediclub>
    </modules>
    <global>
        <helpers>
            <!--            <confirm_order_sms>
                <class>BIC_Mediclub_ConfirmOrderSms_Helper</class>
            </confirm_order_sms>-->
        </helpers>
        <models>
            <!--            <BIC_Mediclub_ConfirmOrderSms>
                <class>BIC_Mediclub_ConfirmOrderSms_Model</class>
            </BIC_Mediclub_ConfirmOrderSms>-->
            <BIC_Mediclub_Model>
                <class>BIC_Mediclub_Model</class>
            </BIC_Mediclub_Model>
        </models>
        <events>
            <checkout_cart_update_items_after>
                <observers>
                    <BIC_Mediclub_observer>
                        <type>model</type>
                        <class>BIC_Mediclub_Model_Observer</class>
                        <method>customerLogin</method>
                    </BIC_Mediclub_observer>
                </observers>
            </checkout_cart_update_items_after>
            
            <sales_order_payment_pay>
                <observers>
                    <BIC_Mediclub_observer>
                        <type>model</type>
                        <class>BIC_Mediclub_Model_ConfirmObserver</class>
                        <method>confirmOrder</method>
                    </BIC_Mediclub_observer>
                </observers>
            </sales_order_payment_pay>
        </events>
        <resources>
            <BIC_Mediclub_setup>
                <setup>
                    <module>BIC_Mediclub</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </BIC_Mediclub_setup>
            <BIC_Mediclub_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </BIC_Mediclub_write>
            <BIC_Mediclub_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </BIC_Mediclub_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <BIC_Mediclub_SomeFreeRouterName1>
                <use>standard</use>
                <args>
                    <module>BIC_Mediclub</module>
                    <frontName>bic-mediclub</frontName>
                </args>
            </BIC_Mediclub_SomeFreeRouterName1>
        </routers>
        <events>
            
                        
            <!--            <checkout_cart_update_items_after>
                <observers>
                    <BIC_Mediclub_observer>
                        <type>model</type>
                        <class>BIC_Mediclub_Model_ConfirmObserver</class>
                        <method>confirmOrder</method>
                    </BIC_Mediclub_observer>
                </observers>
            </checkout_cart_update_items_after>-->
            
            <!--            <sales_order_payment_pay>
                <observers>
                    <BIC_Mediclub_observer>
                        <type>model</type>
                        <class>BIC_Mediclub_Model_ConfirmObserver</class>
                        <method>confirmOrder</method>
                    </BIC_Mediclub_observer>
                </observers>
            </sales_order_payment_pay>-->
            
            
            <checkout_cart_add_product_complete>
                <!--<sales_quote_add_item>-->
                
                <observers>
                    <BIC_Mediclub_SkipCart_observer>
                        <type>singleton</type>
                        <class>BIC_Mediclub_Model_SkipCartObserver</class>
                        <method>redirectToCheckout</method>
                    </BIC_Mediclub_SkipCart_observer>
                </observers>
                <!--</sales_quote_add_item>-->
            </checkout_cart_add_product_complete>
            <checkout_cart_product_add_after>
                <observers>
                    <BIC_Mediclub_SkipCart_observer>
                        <type>singleton</type>
                        <class>BIC_Mediclub_Model_SkipCartObserver</class>
                        <method>clearCartItemsExceptCurrent</method>
                    </BIC_Mediclub_SkipCart_observer>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <crontab>
        <jobs>
            <BIC_Mediclub_CronNotify>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>BIC_Mediclub_Model/CronNotify::notifyCodeExpiration</model>
                </run>
            </BIC_Mediclub_CronNotify>
        </jobs>
    </crontab>
</config>
